@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
:root{
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--Light-gray);
    font-size: 15px;
    font-family: outfit;
    
    
}
.flex-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}
.container{
    background-color: var(--White);
    width: 18%;
    min-width: 200px;
    border-radius: 1em;
    padding: 1rem;
    text-align: center;
    
}
.container img{
    width: 100%;
    border-radius: 0.7rem;
}
.container h3{
    color:var(--Dark-blue);
    width: 100%;
    font-size: 1.2rem;
    margin-top: 1rem;

}
.container p{
    color: var(--Grayish-blue);
    margin-top:1rem ;
}
.attribution { 
    font-size: 11px; 
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    text-align: center;     
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}